/nbproject/private/
/CyberSchema/build/
/ACSCPreferences/build/
/build/
/ACSCCyberToolsDependencies/build/
/ACSCCyberToolsDependencies/release/
/ACSCCyberToolsDependencies/nbproject/private/
/CyberSchema/nbproject/private/
/CyberTools/build/
project_old.xml
/CyberTools/nbproject/private/
